DEBUG=True

DB_HOST=localhost
DB_PORT=5432
DB_NAME=task_tracker
DB_USER=postgres
DB_PASS=225388

DB_HOST_TEST=localhost
DB_PORT_TEST=5432
DB_NAME_TEST=test
DB_USER_TEST=postgres
DB_PASS_TEST=225388

REDIS_HOST=localhost
REDIS_PORT=6379

SECRET_AUTH=e95a36mfsn5yyh6y5fndfmv716707f80cef515906eb49c4cb961dfde39a41ce21

SMTP_HOST = "mail.nic.ru"
SMTP_PORT = 465
SMTP_USER=test@v-petrenko.ru
SMTP_PASSWORD=my_favorite_pass